html, #container { 
	background-image: url(../backgrounds/background_settings.gif);
	background-repeat: repeat;
}

h1, p, label {
	font-family: "Myriad Pro",Helvetica,Arial,sans-serif;
	line-height: normal;
/*	font-size: 30px; */
	font-weight: 400;
	color: #666;
/*	font-size: 1.4em;*/
	letter-spacing: 0.05em;
	text-shadow: 0 1px #EEE;
}

#logo {
	width: 80%;
	text-align: center;
	margin: 20px 10% 0px;
}

#flash {
	text-align: center;
}

#flash * {
	margin: 0px;
}

.hidden {
	display: none;
}

#settings {
	width: 285px;
	margin: 10px auto;
}